.nav-link{
    display: inline!important;
    font-size: 18px;
    margin-left: -15px;
    background: white;
    border-radius: 20px;
    margin-right: 24px;
}
.nav-link:hover, .text-dark:hover{
    background: #00938D;
    color: white!important;
}